<?xml version = "1.0" encoding = "UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <context:annotation-config/>

    <bean id = "reportService" class = "com.evry.fruktkorgservice.ReportService">
        <constructor-arg ref="reportRepositoryHibernate"/>
        <constructor-arg ref="fruktkorgService" />
    </bean>

    <bean id = "reportRepositoryHibernate" class="com.evry.fruktkorgpersistence.hibernate.ReportRepositoryHibernate" />

    <bean id="fruktkorgService" class="com.evry.fruktkorgservice.FruktkorgService">
        <constructor-arg ref="fruktKorgHibernate" />
        <constructor-arg ref="fruktHibernate" />
    </bean>

    <bean id="fruktKorgHibernate" class="com.evry.fruktkorgpersistence.hibernate.FruktkorgRepositoryHibernate" />
    <bean id="fruktHibernate" class="com.evry.fruktkorgpersistence.hibernate.FruktRepositoryHibernate" />

    <bean id="myEmf" class="org.springframework.orm.jpa.LocalEntityManagerFactoryBean">
        <property name="persistenceUnitName" value="prodPU"/>
    </bean>

</beans>