<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    <servlet>
        <servlet-name>fruktadminServiceImpl</servlet-name>
        <servlet-class>com.evry.server.rpc.fruktadminServiceImpl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>fruktadminServiceImpl</servlet-name>
        <url-pattern>/fruktadmin/fruktadminService</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>downloadReport</servlet-name>
        <servlet-class>com.evry.server.servlet.DownloadReportServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>downloadReport</servlet-name>
        <url-pattern>/fruktadmin/downloadReport</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>uploadXML</servlet-name>
        <servlet-class>com.evry.server.servlet.UploadXMLServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>uploadXML</servlet-name>
        <url-pattern>/fruktadmin/upploadXML</url-pattern>
    </servlet-mapping>
</web-app>